body {
    background: grey;
    color: darkslategray;
}

#buttonParent {
    /* border: 2px solid red; */
}

#notEatenCard {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    padding-right: 80px;
}

#eatenCard {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    
}

#devourButton {
    border: 1px solid black;
}

#instructions {
    color: white;
}

#logoText {
    color: white;
    font-size: 76px;
    margin-bottom: 20px;
}

#text-enter-button {
    background-color: #f6f151;
    border: #f6f151;
    color: black;
}

#text-enter-button:focus {
    outline: none;
}